header{
   /* border: 3px solid red;*/
    padding-top: 20px;
    padding-bottom: 30px;
   /* margin-left: 100px;
    margin-right: 100px;*/
    background-color: #A0522D;
    }

    .container{
     /*   border: 3px solid red; */
        padding-top: 200px;
        padding-bottom: 200px;
    /*  margin-left: 100px;
        margin-right: 100px;*/
        background-color: rgba(105, 105, 105, 0.253);
    }

    .container1{
    /*    border: 3px solid red; */
        padding-top: 200px;
        padding-bottom: 200px;
      /*  margin-left: 100px;
        margin-right: 100px;*/
        
    }

    b{
      /*  border: 3px solid red;*/
        padding-top: 100px;
        padding-bottom: 200px;
        padding-right: 200px;
        padding-left: 200px;
        margin: 15px;
        margin-left: 400px;
        background-color: rgba(229, 240, 248, 0.897) ;
        display: inline-block;
    }

    .container2{
      /*  border: 3px solid red; */
        padding-top: 200px;
        padding-bottom: 200px;
       /* margin-left: 100px;
        margin-right: 100px;*/
        background-color: #303535;
        
    }

    b{
        /*border: 3px solid red;*/
        padding-top: 100px;
        padding-bottom: 200px;
        padding-right: 200px;
        padding-left: 200px;
        margin: 15px;
        margin-left: 100px;
        background-color: rgba(229, 240, 248, 0.897) ;
        display: inline-block;
    }

    footer{

        /* border: 3px solid red;*/
         margin-top: 25px;
     }