body{
    font-size: Arial, sans-serif;/* define a fonte*/
    background-color: #f4f4f4;/* cor de fundo suave*/
    display: flex;/*usado para */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container{
    background-color: white;/* fundo de cor*/
    padding: 20px;/* Espaçamento interno*/
    border-radius: 10px;/* Bordas arrendados*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2{
    color: #333;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 10px;
    background-color: #28a745;
    color: white;
}

button:hover{
    background-color: #218838;
}
#resultado{
    margin-top: 20px;
    text-align: left;
}